.burger-menu {
    /* Style */
    background-color: var(--primary);
    border-radius: 10px;
    /* Layout */
    display: flex;
    position: absolute;
    margin-top: 65px;
    margin-left: 15px;
    padding: 5px;
    flex-direction: column;
    z-index: 10;
}

#menu-closed {
    /* Layout */
    display: none;
}

.burger-menu-line {
    /* Style */
    font-size: larger;
    user-select: none;
    transition: 0.25s;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Typography */
    font-weight: bold;
    text-align: center;
}

.burger-menu-line:hover {
    /* Style */
    background-color: var(--secondary);
    cursor: pointer;
}

.burger-menu-line:active {
    /* Style */
    background-color: var(--secondary);
    transform: scale(0.95);
    transition: 0.1s;
}

.burger-icon {
    max-width: 20px;
    max-height: 20px;
}