@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* :root {
    --text: #111111;
    --background: #EEEEEE;
    --primary: #3f48cc;
    --secondary: #8395E5;
    --accent: #28217D;
} */

:root {
    --text: #EEEEEE;
    --background: #211835;
    --primary: #4B3A70;
    --secondary: #8E84A8;
    --accent: #5B4C7E;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

.content {
    display: flex;
    padding: 40px 25px;
    justify-content: center;
    align-items: center;
}