.navbar {
    /* Style */
    background-color: var(--primary);
    height: 55px;
    /* Layout */
    display: flex;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
}

.navbar-section {
    /* Layout */
    display: flex;
    align-items: center;
}

.navbar-button {
    /* Style */
    transition: 0.35s;
    border-radius: 15px;
    /* Layout */
    display: flex;
    width: 55px;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-button:hover {
    /* Style */
    cursor: pointer;
    background-color: var(--secondary);
}

.navbar-icon {
    /* Style */
    transition: 0.35s;
    user-select: none;
    pointer-events: none;
    /* Layout */
    width: 25px;
    height: 25px;
}

.navbar-button:hover .navbar-icon {
    /* Style */
    transform: scale(1.25);
}

.navbar-button:active .navbar-icon {
    /* Style */
    transition: 0.1s;
    transform: scale(1.1);
}

/* Icon specifics */

.navbar-button:hover #settings-icon {
    /* Style */
    transform: rotate(180deg) scale(1.25);
}

.navbar-button:active #settings-icon {
    /* Style */
    transition: 0.1s;
    transform: rotate(270deg) scale(1.1);
}

.navbar-button:hover #bookmarks-icon {
    /* Style */
    transform: scaleY(1.1) scale(1.25);
}

.navbar-button:active #bookmarks-icon {
    /* Style */
    transition: 0.1s;
    transform: scaleY(1.35) scale(1.25);
}